<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="scripts">
    <th:block th:replace="player/player/playerView :: scripts"></th:block>
</th:block>

<div th:fragment="campaignPlayerListPanel">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Player List</h3>
            <div class="btn-group pull-right" role="group" aria-label="...">
                <div class="dropdown">
                    <button class="btn btn-success btn-xs dropdown-toggle" type="button" id="dropdownPlayers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownPlayers">
                        <li><a role="button" data-toggle="modal" data-target="#ModalAddPlayer">Add Player</a></li>
                        <li><a role="button" data-toggle="modal" data-target="#ModalAddPlayerXP">Add XP</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div th:replace="player/player/playerList :: campaignPlayerList"></div>
    </div>
    <div th:replace="player/player/playerList :: addCampaignPlayer"></div>
    <div th:replace="player/player/playerList :: addCampaignPlayerXP"></div>
</div>

<div id="playerList" class="table-responsive" th:fragment="campaignPlayerList">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Player Type</th>
                <th>Player Class</th>
                <th>Available XP</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="player : ${campaignPlayers}">
                <tr>
                    <td th:text="${player.name}"></td>
                    <td th:text="${player.playerType}"></td>
                    <td th:text="${player.playerClass}"></td>
                    <td th:text="${player.XP}"></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>

<div th:fragment="addCampaignPlayer">
    <form action="#" data-custom-form="yes" data-results-to="#playerList" data-modal-to-dismiss="#ModalAddPlayer" th:object="${newPlayer}" th:action="${campaignURL}+@{/players/add}" th:method="post">
        <div id="ModalAddPlayer" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Add Player</h3>
                    </div>
                    <div class="modal-body">
                        <div th:replace="player/player/playerView :: playerView"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Player</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:fragment="addCampaignPlayerXP">
    <form action="#" data-custom-form="yes" data-results-to="#playerList" data-modal-to-dismiss="#ModalAddPlayerXP" th:object="${addXP}" th:action="${campaignURL}+@{/players/addXP}" th:method="post">
        <div id="ModalAddPlayerXP" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Add Player XP</h3>
                    </div>
                    <div class="modal-body">
                        <div th:replace="player/player/addPlayerXPView :: addPlayerXPView"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Player XP</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


</html>