<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main/list" th:with="page='campaigns', category='admin'">
<head>
    <title>Campaigns</title>
</head>
<body>
<div layout:fragment="table">
    <table class="table">
        <tr>
            <th><a th:href="@{${#httpServletRequest.requestURI}(pageSize=${selectedPageSize}, page=1, sort=${'campaignName'})}">Campaign Name</a></th>
            <th><a th:href="@{${#httpServletRequest.requestURI}(pageSize=${selectedPageSize}, page=1, sort=${'expansionName'})}">From Expansion</a></th>
        </tr>
        <th:block th:each="campaign : ${collection}">
            <tr>
                <td><a th:href="@{/admin/campaigns/edit(name=${campaign.campaignName})}" th:text="${campaign.campaignName}"></a></td>
                <td th:text="${campaign.expansionName}"></td>
            </tr>
        </th:block>
    </table>
</div>
<div layout:fragment="tablebuttons">
    <div class="btn-group" role="group" aria-label="...">
        <a href="/admin/campaigns/add" class="btn btn-large btn-default" role="button">Add a Campaign</a>
    </div>
</div>
</body>
</html>